@import 'assets/styles/mixins/colors';

.root {
  padding: 10px 60px 60px;
  background-color: $primary-bg;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.content {
  display: flex;
  color: $primary-color;
}

.imageWrapper {
  max-width: 280px;
  width: 100%;
  margin-right: 60px;
}

.image {
  aspect-ratio: attr(width) / attr(height);
}

.title {
  text-transform: uppercase;
  font-size: 40px;
  margin: 50px 0 20px 0;
}

.genre {
  color: $primary-dark-color;
}

.warnRow {
  color: $secondary-color;
  margin: 20px 0 35px 0;
  font-size: 30px;
}

.year {
  margin-right: 40px;
}

.description {
  line-height: 1.5;
}
