@import 'assets/styles/mixins/colors';

.root {
  color: $primary-color;
}

.title {
  text-transform: uppercase;
  font-size: 40px;
  text-align: left;
  margin-bottom: 50px;
}

.buttonsWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.resetBtn {
  margin-right: 15px;
}
