$primary-color: white;
$primary-dark-color: #a7a7a7;
$secondary-color: #f65261;
$tertiary-color: #424242;

$primary-light-bg: #555;
$primary-bg: #232323;
$primary-dark-bg: #424242;
$secondary-bg: #f65261;
$secondary-dark-bg: #fa4251;
$input-primary-light-bg: #1c1c1c;


$primary-border: #f65261;
$secondary-border: #555;
$tertiary-border: white;
